.sticky {
    z-index: 1;
}

.back-arrow {
    opacity: 0.8;
    cursor: pointer;
}

.back-arrow:hover {
    color: #7A7F8F!important;
    opacity: 1;
}

.settings {
    cursor: pointer;
    padding: 10px;
    margin-right: 5px;
    border-radius: 50%;
}

.green {
    color: #25b28f;
    cursor: pointer;
}