.container-drop-down {
    display:flex;
    flex-direction: column;
}

.default-select {
    background-color: #f2f2f2;
    color: #3b3b3b;
    padding: 10px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}
.default-select:hover {
    background-color: #D3D3D3;
}

.default-text, .drop-down-icon {
    display: inline-block;
}

.drop-down-icon {
    position: relative;
    float: right;
    margin-top: 4.5px;
}

.drop-down-items {
    background-color: #D3D3D3;
    padding: 10px;
    /* padding-left: 25px; */
    height: 40rem;
    margin-top: 34rem;
    /* text-align: center; */
    color: #3b3b3b;
    border-radius: 10px;
    overflow: auto;
    z-index: 2;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.list-items {
    /* background-color: blue; */
}

.list-item {
    cursor: pointer;
    padding: 2px;
    padding-left: 25px;
}
.list-item:hover {
    background-color: gray;
    border-radius: 10px;
    color: white;
}